<form action='/create/note' method='post'>
	<input type='text' name='new_note_data[title]' placeholder='Title' required><br><br>
	<input type='text' name='new_note_data[content]' placeholder='Content' rows='8' required><br><br>
	<input type='submit'>
</form>