<div class="container">
  <h1>Jotted</h1>
  <p>Create notes, see them, take on the world.</p>

  <ul>
    <li><a href='/create'>Create Note</a></li>
    <li><a href='/show/notes/all'>Show All</a></li>
    <li></li>
    <li></li>
    
  </ul>
</div>
